<mat-card>
    <h1>{{buttonText}}</h1>
    <form #addbook="ngForm" (ngSubmit)="onSubmit()">
     <div class="example-container">
        <br>
        <input 
        [(ngModel)] = "id"
         placeholder="id" 
        name = "id"
        #auth= "ngModel">
        <br>
        <input 
        [(ngModel)] = "title"
         placeholder="title" 
        name = "title"
        #auth = "ngModel">
        <br>
        <input 
        [(ngModel)] = "author"
         placeholder="author" 
        name = "author"
        #auth = "ngModel">
  
        <div >
            <!--<button mat-raised-button color="primary" >{{buttonText}}</button>-->
            <button mat-raised-button >{{buttonText}}</button>
        </div>
      </div>
    </form>
    </mat-card>