<p>books works!</p>
<button mat-raised-button color="primary"  [routerLink]="['/addbook']">Add Book</button>
    <mat-accordion>

        <mat-expansion-panel *ngFor = "let book of books$ | async; let i = index">
          <mat-expansion-panel-header>
            {{i}}.{{book.title}}
          </mat-expansion-panel-header>
      
          by {{book.author}}
          <button mat-raised-button color="primary" (click)=deletebook(book.id)>
            Delete Book
           </button>
           <button mat-raised-button color="primary"  [routerLink]="'/addbook/' + book.id">Update Book</button>
 
        </mat-expansion-panel>

      </mat-accordion>