<p *ngIf = "!(postsdata$)">Loding...</p>
<br>

   <button mat-raised-button color="primary" (click)="savePosts()">Save to firestore</button>
  <p>{{message}}</p>

<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of postsdata$">     
  <div *ngFor="let user of usersdata$">
    <div *ngIf = "user.id == post.userId;other"> Author: {{user.name}}, Author EMail: {{user.email}}</div>
 </div> 
      <mat-expansion-panel-header>
        <mat-panel-title>
            <h3>{{post.title}} {{post.author}} {{post.authorMail}} </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
     <p>{{post.body}}</p>
     
    </mat-expansion-panel>
  </mat-accordion>