<body>
<mat-selection-list #books1>
    <mat-list-option *ngFor="let book of books$ | async">
      {{book.author}}
      <button mat-raised-button color="primary"  [routerLink]="'/editauthors/' + book.id">Edit</button>

    </mat-list-option>
  </mat-selection-list>
  
  <p>
    Options selected: {{books1.selectedOptions.selected.length}}
  </p>
</body>